@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #12111C;
}

.typing {
    display: inline;
}

.blinking-cursor {
    font-weight: 400;
    font-size: 1.5em;
    color: #FFC857;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.boxshadow {
    box-shadow: -1px 1px 3px 0px #888d94;
}

.dropshadow {
    filter: drop-shadow(-1px 1px 2px #353536);
}